<!--caling the propraty form another component and sinigh the $event parametar. This $event is the special parametar whidch stored the value of the data. Allso i call the method that i created in ts file -->
<header (featureSelected)="onNavigate($event)"></header>
<div class="container">
    <!--Crating *nfIf statements for displaying the component only when the condicion is meet-->
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shoping-list *ngIf="loadedFeature !== 'recipe'"></app-shoping-list>
      
      
      
   
</div>